.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.loginForm>div{
    margin: 1em;
}

.login{
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
