.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.loginForm>div{
    margin: 1em;
}

.login{
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login>div>p{
    margin-top: 1em;
}

.click{
    color: tomato;
}

.click:hover{
    cursor: pointer;
    color: rgb(253, 55, 19);
}
