.modal-nav{
    background-color: rgb(36, 36, 36);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel{
    width: 80%;
}
.game-images{
    width: 2000px;
    height: 730px;
}
.tab-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.requirements{
    display: flex;
    flex-direction: column;
}
.requirements>p{
    padding: 1em;
}
.dlcContainer{
    display: flex;
    flex-direction: column;
}
.eachDlc{
    display: flex;
    flex-direction: row;
    margin: 1em;
}
.eachDlc>div>img{
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dlcDescription{
    margin-top: 1em;
}

@media only screen and (max-width:1400px){

    .game-images{
        width: 100%;
        height: 730px;
    }

    .clip{
        width: 1000px;
        height: 500px;
    }
}

@media only screen and (max-width:950px){

    .game-images{
        width: 100%;
        height: 500px;
    }

    .clip{
        width: 700px;
        height: 350px;
    }
}

@media only screen and (max-width:700px){

    .game-images{
        width: 100%;
        height: 250px;
    }

    .clip{
        width: 350px;
        height: 300px;
    }

    .eachDlc{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
    }

    .eachDlc>div>img{
        width: 350px;
    }

    .dlcDescription{
        font-size: .9em;
        margin-right: .8em;
        margin-left: .8em;
    }
}