.upper-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    padding: .3em;
    background-color: rgb(53, 53, 53);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.upper-nav>h2>span{
    color: tomato;
}
.searchfield{
    background-color: gray;
    padding: .1em;
    display: flex;
    align-items: center;
    width: 85%;
    border-radius: 5px;
    margin-left: 2em;
}
.search-input{
    background-color: white;
    padding: .5em;
    border:none;
    width: 100%;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.search-input:focus{
    outline: none;
}
.user-avatar{
    margin-left: 1em;
}
