.modal-nav{
    background-color: rgb(36, 36, 36);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel{
    width: 80%;
}
.game-images{
    width: 2000px;
    height: 730px;
}
.tab-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}