.upper-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    padding: .3em;
    background-color: rgb(53, 53, 53);
    color: white;
}
.searchfield{
    background-color: gray;
    padding: .1em;
    display: flex;
    align-items: center;
    width: 85%;
    border-radius: 5px;
    margin-left: 2em;
}
.search-input{
    background-color: gray;
    padding: .5em;
    border: gray;
}